#top-of-page{
    position: sticky;
    top: 0;
    width: 100;
    padding: .5%;
    background: linear-gradient(90deg, #462022 0%, #d91a1a 100%);
}

#lead{
    background: linear-gradient(90deg, #462022 0%, #d91a1a 100%);
}

#why-us {
    background: linear-gradient(90deg, #462022 0%, #d91a1a 100%);
}

.container {
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: gray;
    padding: .75rem;
    border-radius: 3rem;
    color: white;
    text-transform: uppercase;
    text-decoration: bold;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
}

.lead-button {
    background-color: gray;
    padding: 1.25rem;
    border-radius: 3rem;
    color: white;
    text-transform: uppercase;
    text-decoration: bold;
    font-size: 3rem;
    letter-spacing: .15rem;
    transition: all .3s;
}

.socialproof {
    width: 20%
}

/* Sets the alignment of elements in a row */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-headline {
    font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 48px;
	        line-height: 40px;
	        letter-spacing: -1px;
		color: white;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
                font-weight: 100;
}

.title {
    color: #fff; 
    font-family: 'Righteous, cursive'; 
    font-size: 65px; 
    font-weight: normal; 
    line-height: 60px; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 0 #000;
    text-align: center;
}

.middle-headline {
    font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 28px;
		line-height: 40px;
		letter-spacing: -1px;color: #444;
}

.paragraph-text {
    font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 22px;
		line-height: 20px;
		color: #444;
}

.bottom-img {
    width:100%;
}

.hr {  
    width: 50%;  
    height: 4px;  
    background-color: #d91a1a;  
    margin-bottom: 0px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 0px;  
    border-width: 2px;  
}
  
.log-in-container {
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.log-in-text {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}
